* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

body {
  max-width: 375px;
  margin: auto;
  padding: 16px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  padding: 0 16px;
  background: #fff;
}

.logo_header {
  width: 115px;
  height: 42px;
  object-fit: contain;
}

.header_col_right {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.header_col_right_btn_nav {
  padding: 12px;
}

.header_col_right_btn_nav.notify {
  margin-right: -12px;
}

main {
  min-height: 100vh;
}

.footer_list_item_btn img {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.footer_list_item_btn {
  height: 48px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  background: #fff;
}

.footer_list {
  display: flex;
}

.footer_list_item {
  flex-grow: 1;
  text-align: center;
}

.footer_avatar {
  border-radius: 50%;
}